#card-distance{
    padding-bottom: 50px;
}

#buttonConvolution{
    margin-top: 20px;
}


#myProgress {
    width: 100%;
    padding-bottom: 15px;
    background-color: grey;
  }
  
  #myBar {
    width: 1%;
    height: 30px;
    background-color: green;
  }