<div>
    <form >
        
        <div id="card-distance" class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h5 class="card-title">Start convolution</h5>
                    </div>
                    <div class="card-body">
                        <p>First, you have to send an image, and the neural net first at all
                            will validate if this image is own for rice leaves
                        </p>
                    </div>
                </div>
            </div>
        </div>
      
        <div class="custom-file">
          <input type="file" class="custom-file-input" id="validatedCustomFile" required>
          <label class="custom-file-label" for="validatedCustomFile">Choose file...</label>
          <!-- <div class="invalid-feedback">Example invalid custom file feedback</div> -->
        </div>
      </form>
</div>
