<div>
  <form (submit)="uploadImage($event)">
    <div id="card-distance" class="row">
      <div class="col-md-3">
      </div>
      <div class="col-md-6">
        <div class="card">
          <div class="card-header">
            <h5 class="card-title">Envia una imagen</h5>
          </div>
          <div class="card-body">
            <p>
              Al enviar una imágen vamos a corroborar que porcentaje de prección
              podemos tener de que sea una planta de arroz en correcto
              crecimiento por su pigmentación
            </p>
          </div>
        </div>
        <div class="custom-file">
          <input type="file" name="img" class="custom-file-input" id="validatedCustomFile" (change)="getFile($event)"
            required />
          <img [src]="imgUrl" alt="" height="200" *ngIf="imgUrl">
          <label class="custom-file-label" for="validatedCustomFile">Escoge una imagen...</label>
          <button id="buttonConvolution" type="submit" class="btn btn-success btn-block">Enviar</button>
        </div>
      </div>
    </div>
  </form>


  <div *ngIf="file" class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div id="myProgress">
        <div id="myBar"></div>
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>

  <div class="row">
    <div class="col-md-5">

    </div>
    <div class="col-md-6" *ngIf="convolution.length>0">
      <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Resultados</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <!-- <label for="dateOfBirth">Resultados</label> -->
              <!-- <h5>{{convolution[0].recommendation}}</h5> -->
              <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Procentaje de nitrogeno</th>
                    <th scope="col">Temperatura del suelo</th>
                    <th scope="col">Temperatura del ambiente</th>
                    <th scope="col">pH</th>
                    <th scope="col">Humedad</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let real of newConvBody">
                    <td scope="row">{{convolution[0].recommendation}}</td>
                    <td>{{real.temperature_soil}}</td>
                    <td>{{real.temperature_environ}}</td>
                    <td>{{real.ph}}</td>
                    <td>{{real.humidity}} %</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">OK</button>
        </div>
      </ng-template>

      <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Revisión</button>

      <hr />

      <pre>{{ closeResult }}</pre>
    </div>
  </div>
</div>
