<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <div class="container-fluid">
            <h1 class="h3 mb-2 text-gray-800">Registros de los sensores</h1>
            <p class="mb-4">En esta área encontrarás los valores de las medidas de los datos obtenidos de los sensores
            </p>
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Datos históricos de la humedad</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="MyChart">{{ chart }}</canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Datos históricos del pH</h6>
                        </div>
                        <div class="card-body">
                            <div class="chart-container">
                                <canvas id="MyChart2">{{ chart2 }}</canvas>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Donut Chart -->
                <!-- <div class="col-xl-5 col-lg-5">
                    <div class="card shadow mb-4">

                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Presencia de nutrientes</h6>
                        </div>
                        <div class="card-body">
                            <app-line></app-line>
                            <hr>
                            Niveles de elementos del suelo
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</div>
