#auxiliarText{
    font-size: 16px;
    font-style: unset;
    font-weight: bold;
}

#auxiliarValues{
    font-size: 20px;
    font-style: unset;
    font-weight: bold;
}


#cardCustomer{
    /* margin-left: 90px; */
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-table-header {
    background-color: #f8f8f8;
    font-weight: bold;
    text-transform: uppercase;
  }
