[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
django-cors-headers = "==3.13.0"
tensorflow = "==2.9.2"
pymysql = "==1.0.2"
django-simple-history = "*"
mysqlclient = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.10"
