[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tensorflow = "==2.9.2"
django = "*"
django-rest-framework = "*"
pillow = "*"
pymysql = "*"
django-cors-headers = "*"
django-simple-history = "*"

[dev-packages]

[requires]
python_version = "3.10"
