<main class="index">
    <header class="masthead d-flex">
        <div class="container p-4">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="card-title">We...</h5>
                        </div>
                        <div class="card-body">
                            <img src="src/app/components/about/assets/cheoandme1.jpeg" alt=""/>
                        </div>
                    </div>
                </div>
                <div class="col-md-9">
                    <div class="card">
                        <div class="card-header title">
                            <em><h5 class="card-title">Who we are?</h5></em>
                        </div>
                        <div class="card-body">
                            <em><strong><p>In this project we're going to show all the knowledge obtained
                                long in the major
                            </p></strong></em>
                        </div>
                    </div>
                </div>
                
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">
                            <em><strong><p>The only thing that is truly yours is your knowledge, always cultivate it and never let it perish ...</p></strong></em>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</main>