<div class="row">
    <div class="col-md-2">

    </div>
    <div class="col-md-9">


        <div class="container p-4">
            <!-- <form (submit)="signUp()"> -->
            <form [formGroup]="signupForm" (submit)="signUp()">
                <div class="form-row">
                    <div class="form-group col-md-5">
                        <label for="inputNombre">Nombres </label>
                        <input required type="text" formControlName="name" class="form-control" id="inputNombre" autofocus>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputLName">Apellidos </label>
                        <input required type="text" formControlName="last_name" class="form-control" id="inputLName" autofocus>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputEmail">Email </label>
                        <input type="email" required formControlName="email" class="form-control" id="inputEmail" name="email" autofocus>
                        <span class="error" *ngIf="signupForm.get('email')!.invalid && signupForm.get('email')!.touched">email es requerido</span>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputUsername">usuario </label>
                        <input required type="text" formControlName="username" class="form-control" id="inputUsername" autofocus>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputPassword">Contraseña </label>
                        <input required type="password" formControlName="password" class="form-control" id="inputPassword" autofocus>
                    </div>
                    <div class="form-group col-md-5">
                        <label for="inputPassword">Repetir contraseña </label>
                        <input required type="password" formControlName="password2" class="form-control" id="inputPassword" autofocus>
                    </div>
                    <!-- <div class="form-group col-md-10">
                        <label for="inputPassword">Confirma contraseña</label>
                        <input required type="password" [(ngModel)]="userSignup.password" class="form-control" id="inputPassword" name="name" autofocus>
                    </div> -->
                    <div class="form-group col-md-5">
                        <label for="inputTypeRole">Cargo laboral</label>
                        <select id="inputTypeRole" formControlName="role" class="form-control">
                            <option>Agricultor</option>
                            <option>Estibador</option>
                            <option>Paleador</option>
                        </select>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Agregar</button>

            </form>
        </div>
    </div>
</div>
